/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

body {

}

article {
    width: 100%;
    max-width: 50em;
}

h1 {

}

article > img {
    width: 100%;
    height: auto;
    max-width: 50em;
}

img {
    max-width: 100%;
}

@media screen and (min-width: 600px) {
    p {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 800px) {
    body {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}
